.user-tile{
    /* border: solid; */
    font-size: 20px;
    font-weight: 1000;
    padding: 5%;
    padding-top: 8%;
    padding-bottom: 8%;
    text-align: center;
    background-color: rgb(41, 90, 168);
    color: aliceblue;
    transition: 0.5s;
    border-radius: 10px;
}

.user-tile:hover{
    background-color: rgba(41, 90, 168, 0.5); 
    transition: 0.5s;
    border-radius: 25px;
}

.users-table {
    position: relative;
    padding: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 40%;
    /* grid-template-rows: 200px 200px 200px; */
    gap: 10px 40px;
    overflow: auto;
    margin:0;
}

.user-tile:nth-child(2n+2) {
    background-color: rgb(2, 36, 87); 
}
.user-tile:nth-child(2n+2):hover {
    background-color: rgb(2, 36, 87,0.5);
}